<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ModernUI.WPF" version="1.0.5" targetFramework="net45" />
  <package id="NCodeFactory.Toolkit.Common" version="1.0.0.21" targetFramework="net45" />
  <package id="NCodeFactory.Toolkit.Mvvm.Wpf.Mui" version="1.0.0.21" targetFramework="net45" />
</packages>